body,html{
    width: 100%;
    height: 100%;
    background: #ebebeb;
}
#root{
    font-size: .24rem;
    padding: .3rem;
    h5{
        font-size: .36rem;
        
    }
    .item{
        padding: .3rem 0;
    }
}