@import '../base/base.scss';
//按钮active颜色
$main_active: #3e63b0;
$main-lh_active: #6b88cc;
$main-dk_active: #1d3fa2;
$sub_active: #c30144;
$sub-lh_active: #cc4868;
$sub-dk_active: #a30028;
$default_active: #cccccc;
//空心带颜色按钮的active状态
$main_ghost_active: #edf1fb;
$main_lh_ghost_active: #f2f6ff;
$main_dk_ghost_active: #e9edf9;
$sub_ghost_active: #fde5ee;
$sub_lh_ghost_active: #ffeef2;
$sub_dk_ghost_active: #f9e5ea;

//默认按钮的边框颜色
$default_border_color: #ccc;

//按钮active
@mixin btnActive($color: #fff) {
    &:active {
        background: $color!important;
    }
}

//按钮基本样式
@mixin btnBase() {
    cursor: pointer;
    margin-bottom: 0;
    font-size: $fs22rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    box-sizing: border-box;
    padding: 0 .2rem;
    font-weight: 400;
    display: inline-block;
    transition: background .1s;
    border-radius: .08rem; //默认样式
    background: $c_fff;
    color: $c_333;
    @include halfPXBorder($default_border_color, .16rem);
    @include btnActive($default_active);
}

//按钮尺寸
@mixin btnSize() {
    //默认尺寸
    height: .88rem;
    line-height: .88rem;
    font-size: $fs32rem;
    &#{$uiName}-btn-lg {
        height: 1rem;
        line-height: 1rem;
        font-size: $fs32rem;
    }
    &#{$uiName}-btn-ms {
        height: .7rem;
        line-height: .7rem;
        font-size: $fs32rem;
    }
    &#{$uiName}-btn-xs {
        height: .6rem;
        line-height: .6rem;
        font-size: $fs28rem;
    }
}

//禁用形式
@mixin disabled() {
    &#{$uiName}-btn-disabled {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
    }
}

//按钮颜色
@mixin btnColor($type) {
    //full 状态下所有颜色按钮都没有边框
    @if($type=='full') {
        &#{$uiName}-btn-main {
            background: $main;
            color: $c_fff;
            @include btnActive($main_active);
            @include halfPXBorder('none');
        }
        &#{$uiName}-btn-main-lh {
            background: $main_lh;
            color: $c_fff;
            @include btnActive($main-lh_active);
            @include halfPXBorder('none');
        }
        &#{$uiName}-btn-main-dk {
            background: $main_dk;
            color: $c_fff;
            @include btnActive($main-dk_active);
            @include halfPXBorder('none');
        }
        &#{$uiName}-btn-sub {
            background: $sub;
            color: $c_fff;
            @include btnActive($sub_active);
            @include halfPXBorder('none');
        }
        &#{$uiName}-btn-sub-lh {
            background: $sub_lh;
            color: $c_fff;
            @include btnActive($sub-lh_active);
            @include halfPXBorder('none');
        }
        &#{$uiName}-btn-sub-dk {
            background: $sub_dk;
            color: $c_fff;
            @include btnActive($sub-dk_active);
            @include halfPXBorder('none');
        }
    }
    @else {
        &#{$uiName}-btn-main {
            background: $main;
            color: $c_fff;
            &::after {
                display: none;
            }
            @include disabled();
            @include btnActive($main_active);
            @include backgroundGhost($main);
        }
        &#{$uiName}-btn-main-lh {
            &::after {
                display: none;
            }
            background: $main_lh;
            color: $c_fff;
            @include disabled();
            @include btnActive($main-lh_active);
            @include backgroundGhost($main_lh);
        }
        &#{$uiName}-btn-main-dk {
            &::after {
                display: none;
            }
            background: $main_dk;
            color: $c_fff;
            @include disabled();
            @include btnActive($main-dk_active);
            @include backgroundGhost($main_dk);
        }
        &#{$uiName}-btn-sub {
            &::after {
                display: none;
            }
            background: $sub;
            color: $c_fff;
            @include disabled();
            @include btnActive($sub_active);
            @include backgroundGhost($sub);
        }
        &#{$uiName}-btn-sub-lh {
            &::after {
                display: none;
            }
            background: $sub_lh;
            color: $c_fff;
            @include disabled();
            @include btnActive($sub-lh_active);
            @include backgroundGhost($sub_lh);
        }
        &#{$uiName}-btn-sub-dk {
            &::after {
                display: none;
            }
            background: $sub_dk;
            color: $c_fff;
            @include disabled();
            @include btnActive($sub-dk_active);
            @include backgroundGhost($sub_dk);
        }
    }
}

//空心按钮
@mixin backgroundGhost($color) {
    &#{$uiName}-btn-background-ghost {
        background: $c_fff;
        color: $color;
        @if($color==$main) {
            @include btnActive($main_ghost_active);
        }
        @else if($color == $main_lh){
            @include btnActive($main_lh_ghost_active);
        }
        @else if($color == $main_dk){
            @include btnActive($main_dk_ghost_active);
        }
        @else if($color==$sub) {
            @include btnActive($sub_ghost_active);
        }
        @else if($color == $sub_lh){
            @include btnActive($sub_lh_ghost_active);
        }
        @else if($color == $sub_dk){
            @include btnActive($sub_dk_ghost_active);
        }
        @else {
            @include btnActive($default_active);
        }
        //其他按钮用1px做边框
        @include pxBorder($color, .16rem);
        //xs尺寸用半像素做边框
        &#{$uiName}-btn-xs {
            @include halfPXBorder($color, .16rem);
        }
    }
}

//不要圆角
@mixin noBorderRadius() {
    &#{$uiName}-btn-noRadius {
        border-radius: 0;
        -webkit-border-radius: 0;
        &::after {
            border-radius: 0;
            -webkit-border-radius: 0;
        }
    }
}

//按钮块
//按钮class
#{$uiName}-btn {
    @include btnBase();
    @include btnSize();
    @include btnColor('nomal');
    @include noBorderRadius();
    @include disabled();
}

//占满
#{$uiName}-btn-full {
    @include btnBase();
    @include btnColor('full');
    @include halfPXBorder($default_border_color, 0);
    width: 100%;
    border-radius: 0;
    display: block;
    height: 1rem;
    line-height: 1rem;
    font-size: $fs32rem;
}