#root{
    

    .item{
        h5{
            padding: .3rem .3rem;
            font-size: .36rem;
        }
        .explain{
            padding: 0 .3rem;
            font-size: .32rem;
            color: #333;
        }
        .sub-explain{
            padding: .2rem .3rem;
            font-size: .28rem;
            color: #666;
        }
        .margin-top{
            margin-top:.3rem;
        }

        .box{
            padding: .3rem;
        }
    }
}